<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <% if @user.id == current_user.id %>
        <%= render 'info', user: @user %>
      <% else %>
        <table class='table'>
          <tr><%= image_tag @user.get_profile_image, size:'100x100' %></tr>
          <tr>
	          <th>name</th>
	          <th><%= @user.name %></th>
          </tr>
          <tr>
	          <th>introduction</th>
	          <th><%= @user.introduction %></th>
          </tr>
          <tr>
            <th>follows</th>
            <th>
              <%= link_to follows_user_path(@user) do %>
                <%= "#{@user.followers.count}" %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>followers</th>
            <th>
              <%= link_to followers_user_path(@user) do %>
                <%= "#{@user.followeds.count}" %>
              <% end %>
            </th>
          </tr>
        </table>
        <div class='row'>
          <% if current_user.followed_by?(@user) %>
            <%= link_to user_relationships_path(@user), method: :delete, class:"btn btn-info" do %>
              フォローを外す
            <% end %>
            <% if current_user != @user %>
              <%= link_to 'chatを始める', chat_path(@user.id)%>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user), method: :post, class:"btn btn-success" do %>
            フォローする
            <% end %>
          <% end %>
        </div>
      <% end %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
    </div>
  </div>
</div>