<div class='container-lg'>
  <div class='row'>
    <div class='col-md-2'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class=' offset-md-1 col-md-9'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.category.present? %>
              <%=link_to@book.category,tagsearches_search_path(content:@book.category)%>
            <% end %>
          </td>
           <td id="comments_count"><%= render "book_comments/comments_count", book: @book %></td>
           <td>閲覧数：<%= @book.read_counts.count %></td>
           <td class="favorite_buttons_<%= @book.id %>">
            <%= render "favorites/favorite-btn", book: @book %>
          </td>
          <td>
            <%= render "static_rate", book: @book %>
          </td>
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book"%></td>
          <% end %>
        </tr>
      </table>
      <div id="comments_area">
        <table>
          <%= render "book_comments/book_comments", book: @book %><!--コメントを表示する部分テンプレート-->
        </table>
      </div>
      <div id="comments_form">
        <%= render "book_comments/comments_form", book: @book, book_comment: @book_comment %><!--コメントを投稿する部分テンプレート-->
      </div>
    </div>
  </div>
</div>